body {
    text-align: center;
}

.container-wrapper {
    border: solid 5px black;
    width: 500px;
    height: 500px;
    margin: auto;
}

.grid-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(32, auto);
    grid-template-rows: repeat(32, auto);
    width: 500px;
    height: 500px;
    
}

.background {
    background-color: black;
}