body {
    text-align: center;
    background-color: #ededee;
}

button {
    margin-top: 20px;
    font-size: 20px;
}

.container-wrapper {
    border: solid 100px #d12c3a;
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 5%;
}

.grid-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(32, auto);
    grid-template-rows: repeat(32, auto);
    width: 500px;
    height: 500px;
    background-color: #c8c8c8;
    
}